{% extends "layouts/dashboardtemplate.html" %}

{% block content %}
<link href="{{url_for ('static',filename='projects/css/index.css')}}" rel="stylesheet"/>

<ul id="social_side_links">
  <li><a data-toggle="modal" data-target="#exampleModalLong" ><img class="icon-float" src="https://cdn0.iconfinder.com/data/icons/round-ui-icons/512/add_blue.png" alt="" /></a></li>
</ul>


<div class="container">
<div class="row">

	<div class="col-md-12 col-xl-12 text-center title">
    	<h3>Website Redesign</h3>       
    </div>
    <div class="col-md-4 col-xl-4 text-center">
    	<h5>Total Expense</h5>
    	<h6>$ {{ "{:,}".format(project.expense) }} </h6>
    </div>
     <div class="col-md-4 col-xl-4 text-center">
    	<h5>Estimate Revenue</h5>
    	<h6>$ {{"{:,}".format(project.revenue) }}</h6>
    </div>
    <div class="col-md-4 col-xl-4 text-center">
    	<h5>Estimate Profit</h5>
    	<h6>$ {{ "{:,}".format(project.profit) }}</h6>
    </div>
       
        
  </div>
</div>      

<br>
<br>
<br>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Expense</h5>
        <a href="/dashboard/{{ current_user.token }}/projects/delete/{{ project.id }}/{{ expense.id }}" class="red">Delete</a>        
      </div>
      <div class="modal-body">
      {% from "includes/_formhelpers.html" import render_field %}
            <form method="POST" enctype="multipart/form-data" id="form">
               {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                    {{ render_field(form.amount, class="form-control",placeholder="Amount" ,onkeyup="this.value=addThousandsSeparator(this.value);")}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                    {{ render_field(form.date, class="form-control dtpick",placeholder="date")}}
                        </div>
                    </div> 
                </div>
                <div class="row">    
                    <div class="col-md-12">
                        <div class="form-group">
                        {{ render_field(form.name, class="form-control",placeholder="short description")}}
                        
                        </div>
                    </div>      
                </div>
                                                             
      </div>

      <div class="modal-footer">
        <a href="/dashboard/{{current_user.token}}/projects/{{project.id}}" class="btn btn-secondary">Cancel</a>  
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>






        
<div class="container">
  <div class="row"> 


			<div class="col-md-4">		
                        <div class="card card-user">                            
                            <div class="content text-center">
                                <div class="author">
                                  <div id="profileImage">
                                      <h3 class="inside">{{ project.name[0] }}</h3>
                                  </div>
                                  <h4 class="title">{{ project.name }}<br />
                                     <a href="#"><small>{{ project.customer }} </small></a>
                                  </h4>
                                </div>
                                <p class="description text-center">
                                    {{ project.description }}
                                </p>
                            </div>
                            <br>
                            
                            
                        </div>	

		    </div>
		    <div class="col-md-8">
		    		<div  class="row">	    				 
		    				<div class="col-md-12">
                                <div class="inbox-message">         
                                    <ul>
                                    {% for expense in expenses %}    
                                        <li>                                            
                            
                                            <div class="message-body-heading" id="description">
                                                <h5>{{ expense.name }}</h5>
                                                <span><p class="red">- $ {{ expense.amount }}</p></span>
                                            </div>
                                                <p>{{ expense.date }}</p>                                                
                                            
                                        </li>

                                    {% endfor %}   
                                    </ul>
                                </div>       
		    					
                            </div>    
                                                     


		    		</div>
		    </div>
 
	

			
	

  </div>
</div>

<script type="text/javascript">
     function addThousandsSeparator(x) {
    //remove commas
    retVal = x ? parseFloat(x.replace(/,/g, '')) : 0;

    //apply formatting
    return retVal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

</script>
            
<script>
  $(document).ready(function() {
  $('#exampleModalLong').modal('show');
});
</script>



{% endblock %}


