<!DOCTYPE html>
<html>
<head>
	<title>FounderHacker | {% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	
     <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	 <meta name="viewport" content="width=device-width" />	
	<meta name="google-site-verification" content="ktbeQjRZiztidZWZVmpEqN3xuJZNMdxuoTAduj154gg" />	 
</head>
<body>

	
	<div class="container">
		{% include "includes/_message.html" %} <!-- extend dari _message.html untuk merender flash mesaage -->
		{% block content %}

		<!-- bagian body halaman -->

		{% endblock %}
	</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.ckeditor.com/4.7.1/basic/ckeditor.js"></script>
<script type="text/javascript">
	CKEDITOR.replace("editor")
</script>

</body>
</html>

