{% extends "layouts/dashboardtemplate.html" %}

{% block content %}

<!-- Edit Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Currency</h5>           
      </div>
      <div class="modal-body">      	       	
      {% from "includes/_formhelpers.html" import render_field %}
            <form method="POST" enctype="multipart/form-data" id="form">
               {{ form.hidden_tag() }}                
                <div class="row">  
                    <div class="col-md-12">
                      <div class="form-group">
                        {{ render_field(form.currency, class="form-control")}}
                      </div>
                        
                    </div>                                        
                 </div>               
                    	        
      </div>

      <div class="modal-footer">
        <a href="/dashboard/setting" class="btn btn-secondary">Cancel</a>   
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>


    
<div class="container">
  <div class="row">
  	<div class="col-md-12">	
  		<h6 class="text-center">Setting</h6>
  	</div>	

	<div class="col-md-12">		
	<br>
	<br>
	
	<div class="row">
	  <div class="col-md-6 col-lg-4">
	    <div class="card">      
	      <div class="card-body text-center pt-1 pb-20">
	        <a href="#">	          
	          <img class="avatar avatar-xxl" src="https://png.icons8.com/dusk/50/000000/currency-exchange.png">
	        </a>
	        <h5 class="mt-2 mb-0"><a class="hover-primary" href="/dashboard/change/currency">Currency</a></h5>
	        <br>	        
	        <a href="/dashboard/change/currency" class="dash">Change</a>
	        
	      </div>
	      
	    </div>
	  </div>   
	  
	  <div class="col-md-6 col-lg-4">
	    <div class="card">      
	      <div class="card-body text-center pt-1 pb-20">
	        <a href="#">
	        	<img class="avatar avatar-xxl" src="https://png.icons8.com/dusk/50/000000/mastercard-credit-card.png">
	          
	        </a>
	        <h5 class="mt-2 mb-0"><a class="hover-primary" href="/dashboard/billing">Billing</a></h5>
	        <br>	       
	        <a href="/dashboard/billing" class="dash">Visit</a>
	       
	      </div>
	      
	    </div>
	  </div>    

	   <div class="col-md-6 col-lg-4">
	    <div class="card">      
	      <div class="card-body text-center pt-1 pb-20">
	        <a href="#">
	          <img class="avatar avatar-xxl" src="https://png.icons8.com/dusk/50/000000/user-group-man-woman.png">	          
	        </a>
	        <h5 class="mt-2 mb-0"><a class="hover-primary" href="#">User</a></h5>
	        <br>	        
	        <a href="" class="dash">Visit</a>
	       
	      </div>

	    </div>
	  </div>   

	  <div class="col-md-6 col-lg-4">
	    <div class="card">      
	      <div class="card-body text-center pt-1 pb-20">
	        <a href="#">
	          <img class="avatar avatar-xxl" src="https://png.icons8.com/dusk/50/000000/view-file.png">	          
	        </a>
	        <h5 class="mt-2 mb-0"><a class="hover-primary" href="#">Documentation</a></h5>
	        <br>	        
	        <a href="" class="dash">Visit</a>
	       
	      </div>

	    </div>
	  </div>   

	   <div class="col-md-6 col-lg-4">
	    <div class="card">      
	      <div class="card-body text-center pt-1 pb-20">
	        <a href="#">
	          <img class="avatar avatar-xxl" src="https://png.icons8.com/dusk/50/000000/support.png">	          
	        </a>
	        <h5 class="mt-2 mb-0"><a class="hover-primary" href="#">Support</a></h5>
	        <br>	        
	        <a href="" class="dash">Chat</a>
	       
	      </div>

	    </div>
	  </div>   
	  <div class="col-md-6 col-lg-4">
	    <div class="card">      
	      <div class="card-body text-center pt-1 pb-20">
	        <a href="#">
	          <img class="avatar avatar-xxl" src="https://png.icons8.com/dusk/50/000000/edit-user-female.png">	          
	        </a>
	        <h5 class="mt-2 mb-0"><a class="hover-primary" href="#">My Profile</a></h5>
	        <br>	        
	        <a href="" class="dash">Visit</a>
	       
	      </div>

	    </div>
	  </div>   

	  









     </div>
 
	</div>

			
	

</div>
</div>






<script>
	$(document).ready(function() {
  $('#exampleModalLong').modal('show');
});
</script>







{% endblock %}