{% extends "layouts/dashboardtemplate.html" %}

{% block content %}
    
<div class="container">
  <div class="row">
  	<div class="col-md-12">	
  		<h6 class="text-center">Setting</h6>
  	</div>	

	<div class="col-md-12">		
	<br>
	<br>
	
	<div class="row">
	  <div class="col-md-6 col-lg-4">
	    <div class="card">      
	      <div class="card-body text-center pt-1 pb-20">
	        <a href="#">	          
	          <img class="avatar avatar-xxl" src="https://png.icons8.com/dusk/50/000000/currency-exchange.png">
	        </a>
	        <h5 class="mt-2 mb-0"><a class="hover-primary" href="/dashboard/change/currency">Currency</a></h5>
	        <br>	        
	        <a href="/dashboard/change/currency" class="dash">Change</a>
	        
	      </div>
	      
	    </div>
	  </div>   
	  
	  <div class="col-md-6 col-lg-4">
	    <div class="card">      
	      <div class="card-body text-center pt-1 pb-20">
	        <a href="#">
	        	<img class="avatar avatar-xxl" src="https://png.icons8.com/dusk/50/000000/mastercard-credit-card.png">
	          
	        </a>
	        <h5 class="mt-2 mb-0"><a class="hover-primary" href="/dashboard/billing">Billing</a></h5>
	        <br>	       
	        <a href="/dashboard/billing" class="dash">Visit</a>
	       
	      </div>
	      
	    </div>
	  </div>    

	   <div class="col-md-6 col-lg-4">
	    <div class="card">      
	      <div class="card-body text-center pt-1 pb-20">
	        <a href="#">
	          <img class="avatar avatar-xxl" src="https://png.icons8.com/dusk/50/000000/user-group-man-woman.png">	          
	        </a>
	        <h5 class="mt-2 mb-0"><a class="hover-primary" href="#">User</a></h5>
	        <br>	        
	        <a href="/dashboard/all/user" class="dash">Visit</a>
	       
	      </div>

	    </div>
	  </div>   

	  <div class="col-md-6 col-lg-4">
	    <div class="card">      
	      <div class="card-body text-center pt-1 pb-20">
	        <a href="#">
	          <img class="avatar avatar-xxl" src="https://png.icons8.com/dusk/50/000000/view-file.png">	          
	        </a>
	        <h5 class="mt-2 mb-0"><a class="hover-primary" href="#">Documentation</a></h5>
	        <br>	        
	        <a href="" class="dash">Visit</a>
	       
	      </div>

	    </div>
	  </div>   

	   <div class="col-md-6 col-lg-4">
	    <div class="card">      
	      <div class="card-body text-center pt-1 pb-20">
	        <a href="#">
	          <img class="avatar avatar-xxl" src="https://png.icons8.com/dusk/50/000000/support.png">	          
	        </a>
	        <h5 class="mt-2 mb-0"><a class="hover-primary" href="#">Support</a></h5>
	        <br>	        
	        <a href="" class="dash">Chat</a>
	       
	      </div>

	    </div>
	  </div>   
	  <div class="col-md-6 col-lg-4">
	    <div class="card">      
	      <div class="card-body text-center pt-1 pb-20">
	        <a href="#">
	          <img class="avatar avatar-xxl" src="https://png.icons8.com/dusk/50/000000/edit-user-female.png">	          
	        </a>
	        <h5 class="mt-2 mb-0"><a class="hover-primary" href="#">My Profile</a></h5>
	        <br>	        
	        <a href="" class="dash">Visit</a>
	       
	      </div>

	    </div>
	  </div>   

	  









     </div>
 
	</div>

			
	

</div>
</div>












{% endblock %}